<div id="breadcrumbs">
    {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
    <a href="/">Home</a>
    {% if page.categories contains 'aai-news' %}
        / <a href="/aai-news">AAI News</a>
    {% elsif page.categories contains 'projects' %}
        / <a href="/projects">Projects</a>
    {% elsif page.categories contains 'research' %}
        / <a href="/research">Research</a>
    {% elsif page.categories contains 'people' %}
        / <a href="/team">Team</a>
    {% endif %}
    / {{ page.title }}
</div>