<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, {'edge': 'right'});
  });
</script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><img src="{{ site.logo | escape }}" /></a>

    {%- if titles_size > 0 -%}
    <ul id="slide-out" class="sidenav">
      <li class="btn-close"> <a class="sidenav-close" href="#!"><i class="material-icons md-36">arrow_back</i></a></li>
      <li><a href="#!"><span>First Link</span></a></li>
      <li><a href="#!">Second Link</a></li>
    </ul>
    
    <a href="#" data-target="slide-out" class="sidenav-trigger site-nav"><i class="material-icons md-36">menu</i></a>  
    {%- endif -%}
  </div>
</header>
