<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {%- include breadcrumbs.html -%}
        <div class="post-article">
          <h1>{{ page.title }}</h1>
          <div class="post-meta">
            {%- if page.author -%}
              Author: {{ page.author }}<br />
            {%- endif -%}
            {%- if page.date -%}
              Last updated: {{ page.date | date: "%B %-d, %Y" }}
            {%- endif -%}
          </div>
          {%- if page.main-img -%}
            <div class="post-image"><img src="{{ page.main-img }}" alt="{{ page.img-caption }}"  /></div>
            {%- if page.img-caption -%}
              <div class="image-caption">{{ page.img-caption }}</div>
            {%- endif -%}
          {%- endif -%}
          <div class="content">{{ content }}
          </div>
        </div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
