---
layout: default
---

{%- include breadcrumbs.html -%}

<div class="home-grid">
  {{ content }}

  {%- if site.categories.research.size > 0 -%}
  {% assign research_sorted = site.categories.research | sort: 'date' | reverse %}
  {%- for post in research_sorted -%}
  <div class="home-thumb">
    <a href="{{post.url}}">
      {%- if post.thumbnail -%}
        <img src="{{ post.thumbnail }}" />
      {%- else -%}
        <span class="thumb-excerpt">{{post.excerpt}}</span>
      {%- endif -%}
      <div class="thumb-overlay">
        <span class="thumb-title">{{post.title}}</span>
      </div>
    </a>
  </div>
  {%- endfor -%}
</div>

{%- endif -%}