---
layout: default
---

{%- include breadcrumbs.html -%}

{%- if site.categories.people.size > 0 -%}
  {% assign people_sorted = site.categories.people | sort: 'display-rank', 'last' %}
  {% assign current_people = people_sorted | where: 'current', 'true' %}
  {% assign former_people = people_sorted | where: 'current', 'false' %}

  {%- if current_people.size > 0 -%}
  <div class="team-header"><span>Current</span></div>
  <div class="home-grid">
    {%- for post in current_people -%}
      <div class="home-thumb">
        <a href="{{post.url}}">
          {%- if post.thumbnail -%}
            <img src="{{ post.thumbnail }}" />
          {%- else -%}
            <span class="thumb-excerpt">{{post.excerpt}}</span>
          {%- endif -%}
          <div class="thumb-overlay">
            <span class="thumb-title">{{post.title}}</span>
          </div>
        </a>
      </div>
    {%- endfor -%}
  </div>
  {%- endif -%}


  {%- if former_people.size > 0 -%}
  <div class="team-header"><span>Former</span></div>
  <div class="home-grid">
    {%- for post in former_people -%}
      <div class="home-thumb">
        <a href="{{post.url}}">
          {%- if post.thumbnail -%}
            <img src="{{ post.thumbnail }}" />
          {%- else -%}
            <span class="thumb-excerpt">{{post.excerpt}}</span>
          {%- endif -%}
          <div class="thumb-overlay">
            <span class="thumb-title">{{post.title}}</span>
          </div>
        </a>
      </div>
    {%- endfor -%}
  </div>
  {%- endif -%}

{%- endif -%}